@media only screen and ( min-width: 60em ) { /*1025 or smaller*/
	/*grid*/
    .title {
        margin-top:30px;
        
    }
    .title h2{
        font-size:20px;
    }
    .logo img{
        max-width:130%;
        margin-bottom:10px;
        margin-left: 15px;
    }
    .twitter{
        grid-column: 6/7;
        grid-row: 1/2;
        justify-self: center;
    }
    .face{
        grid-column:6/7;
        grid-row: 1/2;
        justify-self: left;
        margin-left:10px;
    }
    .instagram{
        grid-column: 6/7;
        grid-row:1/2;
       justify-self: center;
       margin-left:25px;
       
    }
    header, nav, main, footer {
        max-width: 64rem;
        margin:auto;
    } 
   
    /* footer*/


}