@media only screen and ( min-width: 34em ) /* 521 or smaller */{
    .title {
        margin-top:25px;
        
    }
    .logo img{
        margin-bottom:10px;
        margin-left: 15px;
    }
    .twitter{
        grid-column: 6/7;
        grid-row: 1/2;
        justify-self: left;
    }
    .face{
        grid-column:5/6;
        grid-row: 1/2;
        justify-self: right;
    }
    .instagram{
        grid-column: 6/7;
        grid-row:1/2;
       justify-self: center;
       margin-left:10px;
    }
     /*Navigation*/
     nav{
        grid-column:3/7;
        grid-row:2/3;
        margin-top: 20px;
        background-color:#f5f5f5;
        border-radius: 5px;
        margin: 0 auto;
        max-width: 780px;
        box-shadow: 0 0 0px #f5f5f5;
    }
   nav a {
   
    margin-top: 25px;
    
 }
 .navigation{
    display:flex;
  
}
.navigation li{
    display: block;
    flex: 1 1 auto;
}

.navigation a {
    text-align: center;
    color:#7d3bff;
    font-size: 1.1rem;
}

.navigation li:first-child{
    display: none;
}
.navigation a:hover{
    
    --d: 75%;
}
.order .tocenter .btn{
padding: 12px 45%;
}	
.food{

    max-height:400px;
}


}