@media only screen and ( min-width: 34em ) /* 521 or smaller */{
    .title {
        margin-top:25px;
        
    }
    .logo img{
        margin-bottom:10px;
        margin-left: 15px;
    }
    .twitter{
        grid-column: 6/7;
        grid-row: 1/2;
        justify-self: left;
    }
    .face{
        grid-column:5/6;
        grid-row: 1/2;
        justify-self: right;
    }
    .instagram{
        grid-column: 6/7;
        grid-row:1/2;
       justify-self: center;
       margin-left:10px;
    }
     /*Navigation*/
     nav{
        grid-column:3/7;
        grid-row:2/3;
        margin-top: 20px;
        background-color:#f5f5f5;
        border-radius: 5px;
        margin: 0 auto;
        max-width: 780px;
        box-shadow: 0 0 0px #f5f5f5;
    }
   nav a {
   
    margin-top: 25px;
    
 }
 .navigation{
    display:flex;
  
}
.navigation li{
    display: block;
    flex: 1 1 auto;
}

.navigation a {
    text-align: center;
    color:#7d3bff;
    font-size: 1.1rem;
}

.navigation li:first-child{
    display: none;
}
.navigation a:hover{
    
    --d: 75%;
}
.order .tocenter .btn{
padding: 12px 45%;
}	
.home{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: .25fr .1fr .45fr .65fr .5fr .25fr .1fr .05fr ;
	
 }
.food{
   
     display:grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: .25fr 1fr .18fr;
        
    }
    .food h2{
        grid-row: 1/2;
        grid-column:1/4;
        text-align: center;
        color:#fe01cc;
        padding-bottom: 5px;
        padding-top: 15px;
        font-size: 25px;
        border-bottom: 5px solid #fe01cc;
    }
    .food img{
        max-width: 100%;
        height: auto;
    }
    .food h3{
        justify-self:center;
        color:#fe01cc;
    }
     .pine{
        grid-row: 2/3;
        grid-column:1/2;
        justify-self:center;
    }
    .wPine{
        grid-row:3/4;
        grid-column:1/2;
    }
    .peach{
        grid-row:2/3;
        grid-column:2/3;
        justify-self: center;
    }
    .wPeach{
        grid-row:3/4;
        grid-column:2/3;
    }
    .rasp{
        grid-row:2/3;
        grid-column:3/4;
        justify-self:center;
    }
    .wRasp{
        grid-row:3/4;
        grid-column:3/4
    }
    .weather{
        display:grid;
        grid-template-rows: .25fr .75fr .75fr .75fr ;
        grid-template-columns: 1fr; 
       }
    #weatherContainer{
        grid-row:2/6;
        height: 37.2rem;
        width: 30rem;
        border: 5px solid #00FAFD;   
        border-radius: 10px;
        align-items: center;
    }
    #iconsContainer{
        margin: .3rem;
        height: 36rem;
        width: 28.7rem;    
        border: 5px solid #fe01cc;    
        border-radius: 5px;
        justify-self: center;	
    }
    .icons{
        display: inline-bock;
        float: left;
        height: 8rem;
        width: 27.3rem;
        margin: 7px;
        border: 5px solid #ffe43b;
        background-color: #00FAFD;
        border-radius: 10px;
    }
    
    .imageDay{
        height: 50px;
        width: 25%;
    }
    
    .imgClass{
        height: 60px;
        width: 100%;
    }
    
}