/* Desktop Views ****************************/
@media only screen and (min-width: 60em) {
	main {
		grid-template-columns: 1fr 1fr 1fr;
	}
	
	main section:nth-child(2) {
	  grid-column: 2/3;
		grid-row: 1/2;
  }
	/*************************************/

	main section:nth-child(3) {
		grid-column: span 1;
	}
	header,
nav,
main,
footer {
	max-width: flex;
	margin: 0 auto;
}
}