header{
    text-align: center;
    color:white;
    background-color: rgb(14, 29, 64);
    margin: 10px;
   
    padding: 5px
   
}

a {
	padding: 10px;
}

body {
	font-size: 16px;
	font-family: "Sansita", Ubuntu, sans-serif;
}
/* phone or baseline views **************************/
main {
	max-width: 767px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	font-size: 0.8rem;
}



main section {
	margin: 0.5rem;
	border: 1px solid #bbb;
	background-color: #eee;
    border-radius: 25px;
    padding: 20px;
    
  
}

main section h2 {
    text-align: left;
    font-size: 16px;
	color: White;
    background-color: rgb(14, 29, 64);
    margin: -1.3rem -1.3rem 1rem -1.3rem;
    border-radius: 25px 25px 0px 0px;
    padding: 10px 20px 10px 20px;
   
}



main section:nth-child(2) {
	display: none;
	margin: 0.5rem;
}



