@media only screen and ( min-width: 34em ) /* 521 or smaller */
{/*Grid*/
    /*.container{
        display:grid;
        grid-template-areas:
         "logo title social nav"
         "logo title social nav"
         "date date date date";
         grid-template-columns:20fr  30fr 10fr 10fr;}
    .logo{
        grid-area: logo;
    } 
    .logo img{	
        width: 100%;
        vertical-align: middle;
    }  
    .title{
        grid-area: title;
    }
    .social{
        grid-area:social;
    }
    nav{
        grid-area:nav;
    }*/
    .container{
        display:grid;
        grid-template-columns: 5fr 1fr 1fr .5fr .5fr 1.5fr;
        grid-template-rows: .5fr 1fr .25fr .15fr; 
         
    }
    .face{
        grid-column:4/5;
        grid-row: 1/2;
        max-width: 32px;
        min-width: 32px;
       
        
    }
    .link{
        grid-column: 5/6;
        grid-row: 1/2;
        max-width: 32px;
        min-width: 32px;
       
    }
    nav{
        grid-column:6/7;
        grid-row:1/2;
        
        
    }
    .date{
        font-size: 18px;
        grid-column:1/7;
	    grid-row: 3/4;
       }
    /*Navigation*/
	
	/*main*/
    /*main{
        display: grid;
        grid-template-areas: 
        "Hero Hero"
        "News News"
        "Spotlight Spotlight"
        "Join Join"
        "Event Weather";
        grid-template-columns: 40fr 40fr;
        grid-template-rows: 20fr 20fr 20fr 20fr;
     }
    .Hero{
     grid-area: Hero;
    }
    .Event{
     grid-area: Event;
    }
    .Weather{
     grid-area: Weather;
    }
    .Join{
     grid-area: Join;
    }
    .News{
     grid-area: News;
    }
    .Spotlight{
     grid-area: Spotlight;
    }*/
}