@media only screen and ( min-width: 34em ) /* 521 or smaller */
{/*Grid*/
    /*.container{
        display:grid;
        grid-template-areas:
         "logo title social nav"
         "logo title social nav"
         "date date date date";
         grid-template-columns:20fr  30fr 10fr 10fr;}
    .logo{
        grid-area: logo;
    } 
    .logo img{	
        width: 100%;
        vertical-align: middle;
    }  
    .title{
        grid-area: title;
    }
    .social{
        grid-area:social;
    }
    nav{
        grid-area:nav;
    }*/
    .date{
        font-size: 18px;
       }
    /*Navigation*/
	.navigation{
        display:flex;
    }
    .navigation li{
        display: block;
        flex: 1 1 auto;
    }

    .navigation a {
        text-align: center;
    }

    .navigation li:first-child{
        display: none;
    }
    .navigation a:hover{
        color: darkslategray;
        --d: 75%;
    }
	/*main*/
    /*main{
        display: grid;
        grid-template-areas: 
        "Hero Hero"
        "News News"
        "Spotlight Spotlight"
        "Join Join"
        "Event Weather";
        grid-template-columns: 40fr 40fr;
        grid-template-rows: 20fr 20fr 20fr 20fr;
     }
    .Hero{
     grid-area: Hero;
    }
    .Event{
     grid-area: Event;
    }
    .Weather{
     grid-area: Weather;
    }
    .Join{
     grid-area: Join;
    }
    .News{
     grid-area: News;
    }
    .Spotlight{
     grid-area: Spotlight;
    }*/
}