@media only screen and ( min-width: 34em ) /* 521 or smaller */
{/*Grid*/
    /*.container{
        display:grid;
        grid-template-areas:
         "logo title social nav"
         "logo title social nav"
         "date date date date";
         grid-template-columns:20fr  30fr 10fr 10fr;}
    .logo{
        grid-area: logo;
    } 
    .logo img{	
        width: 100%;
        vertical-align: middle;
    }  
    .title{
        grid-area: title;
    }
    .social{
        grid-area:social;
    }
    nav{
        grid-area:nav;
    }*/
    .container{
        display:grid;
        grid-template-columns: 5fr 1fr 1fr .5fr .5fr 1.5fr;
        grid-template-rows: .5fr .5fr .25fr .15fr; 
         
    }
    .logo img {
	
       max-width:30%;
       height: auto;
       object-fit:cover;
     
     }
    .face{
        grid-column:4/5;
        grid-row: 1/2;
        max-width: 32px;
        min-width: 32px;
       
        
    }
    .link{
        grid-column: 5/6;
        grid-row: 1/2;
        max-width: 32px;
        min-width: 32px;
       
    }
    nav{
        grid-column:6/7;
        grid-row:1/2;
        
        
    }
    .date{
        font-size: 18px;
        grid-column:1/7;
	    grid-row: 3/4;
       }
    /*Navigation*/
	
	/*main*/
    main{
        display: grid;
        
        grid-template-columns: 75px 75px 75px 75px;
        grid-template-rows: 175px 175px 175px 175px 175px;
     }

     .Spotlight{
 grid-row: 5/8;
 border: 1px solid #bbb;
 padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}
.spot1{
	
	border: 1px solid #bbb;
	
}
.spot2{
	
	border: 1px solid #bbb;
	
}
.spot3{
	
	border: 1px solid #bbb;
	padding-left: 10px;
	padding-right: 10px;
}
    .Hero{
        grid-column: 1/4;
        grid-row:1/2;
    }
    .Event{
        grid-column: 1/4;
        grid-row:5/6;
    }
    .Weather{
        grid-column: 3/4;
        grid-row:5/6;
    }
    .Join{
        grid-column: 1/4;
        grid-row:4/5;
    }
    .News{
        grid-column: 1/4;
        grid-row:2/3;
    }
    .Spotlight{
        grid-column: 1/4;
        grid-row:3/4;
        border: 1px solid #bbb;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }
    .Spotlight{
        grid-row: 5/8;
        
       }
       .spot1{
           
           border: 1px solid #bbb;
           
       }
       .spot2{
           
           border: 1px solid #bbb;
           
       }
       .spot3{
           
           border: 1px solid #bbb;
           padding-left: 10px;
           padding-right: 10px;
       }
}