

body {
    font-size: 16px;
    width: 100%;
    font-family: 'Roboto Slab', serif;
}

header, main, footer {
    max-width: 700px;
    margin: 0 auto;
}

ul {
    border-style: none none solid none;
}
main {
    padding:10px;
   
    
}
h1{ 
    font-size: 1.5rem;
    margin: 0.15rem;
    grid-column: 1/2;
    grid-row: 2/3;
    padding:20px;

}
h2 {
    font-size: 1rem;
    color:black;
    text-shadow: 5px 5px 10px black;
    border-style: none none solid none;
}
header {
    
    padding: 20px;
    background-color: rgb(183, 123, 130);
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center; 
    color: white;   
    text-align:center;     
}

header img {
    width: 200px;
    height: auto;
    grid-column: 1/2;
    grid-row: 1/2;
    border-radius: 10px;
}

footer {
   padding:10px;
    background-color: rgb(183, 123, 130);
    border-top: 2px;
    color: white;
    text-align: center;
}